# Python / Conda
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/
.ipynb_checkpoints/
*.egg-info/
.env
.venv
env/
venv/

# Environment Variables (CRITICAL: Never commit API keys)
.env
.env.local

# IDE Settings
.vscode/
.idea/

# Data & Models
data/raw/*
!data/raw/.gitkeep

# Completely ignore the vector database folder
data/vector_store/


# Logs
logs/
*.log

# Mac OS
.DS_Store